@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>Konsole</b> v2.0.0</a>
        <div class="image">
            <img src="~/img/doh.jpg" class="img-circle elevation-2" style="width:18%;" alt="User Image">
        </div>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Sign in to start your session</p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form id="account" method="post">
                <span asp-validation-for="Input.Username" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="text" asp-for="Input.Username" class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="icheck-primary">
                            <input asp-for="Input.RememberMe" type="checkbox" id="remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('body').addClass("hold-transition login-page");
        $('.wrapper').removeClass("wrapper");
        $("footer").hide();
        console.log("ruseltayongskiewewew!");
    </script>
}

