@model IEnumerable<EFHSIS.Models.EFHSISModels.ChildCare>
@{
    ViewData["Title"] = "Child Care";
}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    @*
        @foreach (var item in Model)
        {
            <div>
                @Html.DisplayFor(modelItem => item.ProvCode)
                <hr />
            </div>
        }
    *@
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Child Care</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Child Care</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">

            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Target Population</span>
                            <span class="info-box-number">
                                7,876,400
                            </span>
                            <small class="text-green">Target Poor (2,090,994)</small>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Population Profiled</span>
                            <span class="info-box-number">7,143,199</span>
                            <small class="text-success">90.7% Goal Completion</small>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-baby"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Child Care</span>
                            <span class="info-box-number">760</span>
                            <small class="text-success">90.7% Goal Completion</small>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-city"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Number of Barangay</span>
                            <span class="info-box-number">3,004</span>
                            <small class="text-success">90.7% Goal Completion</small>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Recap Report</h5>
                            <div class="card-tools">
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#part1" data-toggle="tab" onclick="TabClick1();">Part 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#part2" data-toggle="tab" onclick="TabClick2();">Part 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="text-center">
                                <strong>EFHSIS: January 1, 2019 to December 31, 2019</strong>
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <div class="tab-pane active" id="part1">
                                            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                                        </div>
                                        <div class="tab-pane" id="part2">
                                            <div id="chartContainer2" style="height: 300px; width: 100%;"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        @*
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
                                            <h5 class="description-header">$35,210.43</h5>
                                            <span class="description-text">TOTAL REVENUE</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
                                            <h5 class="description-header">$10,390.90</h5>
                                            <span class="description-text">TOTAL COST</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block border-right">
                                            <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
                                            <h5 class="description-header">$24,813.53</h5>
                                            <span class="description-text">TOTAL PROFIT</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                    <!-- /.col -->
                                    <div class="col-sm-3 col-6">
                                        <div class="description-block">
                                            <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                                            <h5 class="description-header">1200</h5>
                                            <span class="description-text">GOAL COMPLETIONS</span>
                                        </div>
                                        <!-- /.description-block -->
                                    </div>
                                </div>
                                <!-- /.row -->
                            </div>
                        *@
                        <!-- /.card-footer -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Scripts {
    <script>
        $('body').addClass("hold-transition sidebar-mini");
    </script>

    <script>
        function RenderedCanvass() {
            var graph_data = @Html.Raw(ViewBag.DataPoints);
            delete graph_data[0].PROV_CODE;
            var arr = Object.values(graph_data[0]);
            var max_data = arr.reduce(function(a, b) {
                return Math.max(a, b);
            });
            console.log(max_data);
            console.log(graph_data[0]);
            console.log(graph_data[0].IMM_HEPAB124_F);

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: ""
                },
                axisX: {
                    interval: 1
                },
                //axisY: {
                //    title: "",
                //    scaleBreaks: {
                //        type: "wavy",
                //        customBreaks: [{
                //            startValue: 80,
                //            endValue: 210
                //        },
                //        {
                //            startValue: 230,
                //            endValue: 600
                //        }
                //        ]
                //    }
                //},
                data: [{
                    type: "bar",
                    toolTipContent: "<b>{label}</b><br>Total: {y}",
                    dataPoints: [
                        { label: "IMM_HEPAB124_F", y: graph_data[0].IMM_HEPAB124_F },
                        { label: "IMM_HEPAB124_M", y: graph_data[0].IMM_HEPAB124_M },
                        { label: "IMM_HEPAB1WIN24_F", y: graph_data[0].IMM_HEPAB1WIN24_F },//
                        { label: "IMM_HEPAB1WIN24_M", y: graph_data[0].IMM_HEPAB1WIN24_M },
                        { label: "IMM_OPV3_F", y: graph_data[0].IMM_OPV3_F },
                        { label: "IMM_OPV3_M", y: graph_data[0].IMM_OPV3_M },
                        { label: "IMM_OPV2_F", y: graph_data[0].IMM_OPV2_F },
                        { label: "IMM_OPV2_M", y: graph_data[0].IMM_OPV2_M }, //
                        { label: "IMM_OPV1_F", y: graph_data[0].IMM_OPV1_F },
                        { label: "IMM_OPV1_M", y: graph_data[0].IMM_OPV1_M },
                        { label: "IMM_BCG_F", y: graph_data[0].IMM_BCG_F },
                        { label: "IMM_BCG_M", y: graph_data[0].IMM_BCG_M }
                    ]
                }]
            });
            chart.render();

            var chart2 = new CanvasJS.Chart("chartContainer2", {
	            exportEnabled: true,
	            animationEnabled: true,
	            title:{
		            text: ""
	            },
	            legend:{
		            cursor: "pointer",
		            itemclick: explodePie
	            },
	            data: [{
		            type: "pie",
		            showInLegend: true,
		            toolTipContent: "{name}: <strong>{y}%</strong>",
		            indexLabel: "{name} - {y}%",
		            dataPoints: [

                        { name: "IMM_HEPAB124_F", y: (graph_data[0].IMM_HEPAB124_F / max_data) * 100 },
                        { name: "IMM_HEPAB124_M", y: (graph_data[0].IMM_HEPAB124_M / max_data) * 100 },
                        { name: "IMM_HEPAB1WIN24_F", y: (graph_data[0].IMM_HEPAB1WIN24_F / max_data) * 100 },
                        { name: "IMM_HEPAB1WIN24_M", y: (graph_data[0].IMM_HEPAB1WIN24_M / max_data) * 100 },
                        { name: "IMM_OPV3_F", y: (graph_data[0].IMM_OPV3_F / max_data) * 100 },
                        { name: "IMM_OPV3_M", y: (graph_data[0].IMM_OPV3_M / max_data) * 100 , exploded: true },
                        { name: "IMM_OPV2_F", y: (graph_data[0].IMM_OPV2_F / max_data) * 100 },
                        { name: "IMM_OPV2_M", y: (graph_data[0].IMM_OPV2_M / max_data) * 100 },
                        { name: "IMM_OPV1_F", y: (graph_data[0].IMM_OPV1_F / max_data) * 100 },
                        { name: "IMM_OPV1_M", y: (graph_data[0].IMM_OPV1_M / max_data) * 100 },
                        { name: "IMM_BCG_F", y: (graph_data[0].IMM_BCG_F / max_data) * 100 },
                        { name: "IMM_BCG_M", y: (graph_data[0].IMM_BCG_M / max_data) * 100 }

		            ]
	            }]
            });
            chart2.render();
            TabClick1();
        }
        RenderedCanvass();

        function explodePie (e) {
	        if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
		        e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
	        } else {
		        e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
	        }
	        e.chart.render();

        }

        function TabClick1() {
            $("#part1").show();
            $("#part2").hide();
        }
        function TabClick2() {
            $("#part1").hide();
            $("#part2").show();
        }


    </script>
}
